@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Boxing.Web.ViewModels.MatchViewModel

@using (Html.BeginForm("Create", "Matches", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.Boxer1)
        @Html.EditorFor(m => m.Boxer1)
    </div>
    <div>
        @Html.LabelFor(m => m.Boxer2)
        @Html.EditorFor(m => m.Boxer2)
    </div>
    <div>
        @Html.LabelFor(m => m.Place)
        @Html.EditorFor(m => m.Place)
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
    </div>
    <div>
        @Html.LabelFor(m => m.DateOfMatch)
        @Html.EditorFor(m => m.DateOfMatch)
    </div>
    <input type="submit" value="Save"/>
}